@{
    ViewData["Title"] = "About NATA";
}
<h2>About Us</h2>
<p>NATA is the best ticketing solution in IFTS 5. We are a Class Team that is developing this solution:</p>
<h3>Why our Name?</h3>
<p>Our work team has a tradition: every practical work we do in a subject has a name, and that name is related to a team member. The name "NATA" is for "Natalia Elisabet Juarez".</p>
<h3>Why Ticket Solution?</h3>
<p>All team members have had contact with a ticket system. We found it fun to be able to use the knowledge of the practice in our own system..</p>
