@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to NATA</h1>
</div>
<p>NATA is the best ticketing solution in ITFS 5. We are a Class Team that is developing this solution:</p>
<ul>
    <li><strong>Dafne</strong>.</li>
    <li><strong>Natalia</strong>.</li>
    <li><strong>Cesar</strong>.</li>
    <li><strong>Julián</strong>.</li>
    <li><strong>Pablo</strong>.</li>
</ul>
<p>Why NATA? Know about our name in <a href="/Home/About/">About Section</a>.</p>
</div>