
    <ul class="nav nav-pills flex-column">
        <li class="nav-item"><a class="nav-link accordion" asp-area="" asp-controller="Accounts" asp-action="Index">Accounts</a></li>
        <li class="nav-item"><a class="nav-link accordion" asp-area="" asp-controller="Contracts" asp-action="Index">Contracts</a></li>
        <li class="nav-item"><a class="nav-link accordion" asp-area="" asp-controller="Contacts" asp-action="Index">Contacts</a></li>
        <li class="nav-item"><a class="nav-link accordion" asp-area="" asp-controller="AccountContacts" asp-action="Index">Relations</a></li>
        <li class="nav-item"><a class="nav-link accordion" asp-area="" asp-controller="Accounts" asp-action="Help">Help</a></li>
    </ul>
<br />
<br />