@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutUsers";
}

<h3>Roles</h3>

<br />

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => role.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => role.Name)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@role.Id">Users</a>
                </td>
            </tr>
        }
    </tbody>
</table>
